.list {
  list-style: decimal;
  list-style-position: inside;
  padding-left: 0;
  margin: 30px 0px 30px;
}
.item {
  position: relative;
  padding: 12px 60px 12px 60px;
  margin-bottom: 23px;
  box-shadow: 0 0 10px 2px lightsteelblue;
  background-color: aliceblue;
}
.itemDone {
  position: relative;
  padding: 12px 60px 12px 60px;
  margin-bottom: 23px;
  box-shadow: 0 0 10px 2px lightsteelblue;
  background-color: aliceblue;
  text-decoration: line-through;
}
.item:nth-child(odd) {
  background: lightgoldenrodyellow;
}
.completed {
  position: absolute;
  top: 45%;
  left: 10px;
  height: 19px;
  width: 19px;
  transform: translateY(-50%);
  cursor: pointer;
}
.fieldText {
  padding: 0 20px;
  font-size: 16px;
  line-height: 36px;
  outline: none;
  border: 3px solid lightgreen;
  margin-right: 10px;
  width: 380px;
}
.form {
  display: flex;
  justify-content: end;
  margin-bottom: 50px;
}